{%- style -%}
  #JOSMySec--{{ section.id }} {
  --PT: {{ section.settings.padding_top }}px;
  --PB: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<section id="JOSMySec--{{ section.id }}" class="bootstrapiso my_sec section-padding" style="padding:{{ section.settings.padding }}px">
    <!-- <div class="container">
      <h2 class="clction_title"><span>{{ section.settings.title }}</span></h2>
    </div> -->
    <div class="row g-0 ">
      <div class="col-lg-6">
        <figure class="left_image">
          {% if section.settings.left_image %}
          <img src="{{ section.settings.left_image | img_url: '3000x' }}" alt="">
          {% endif %}
        </figure>
      </div>
      <div class="col-lg-6 align-self-center">
        <figure class="user_image">
          {% if section.settings.user_image%}
            <img src="{{ section.settings.user_image | img_url: '1000x' }}" alt="">
        {% endif %}</figure>
        <div class="details" style="padding:0 !important">
          <figure class="prod_image">
            {% if section.settings.right_image %}
              <img src="{{ section.settings.right_image | img_url: '1000x' }}" alt="">
          {% endif %}</figure>
          <h2 style="text-align:{{ section.settings.h_position }}"><i>{{ section.settings.mainheading }}</i></h2>
          <h3 style="text-align:{{ section.settings.bg_position }}">{{ section.settings.heading }}</h3>
          <hr>
          <p style="text-align:{{ section.settings.description_position }}">{{ section.settings.description }}</p>
          <a href="{%- if section.settings.link contains '/collections' -%}
                      {{- section.settings.link | append: '?filter.v.availability=1' -}}
                    {%- else -%}                                
                      {{- section.settings.link -}}
                    {%- endif -%}"  class="{{ section.settings.button_style }} {{ section.settings.button_color }} text-white">{{ section.settings.link_text }}</a>
        </div>
      </div>
    </div>
</section>


{% schema %}
{
  "name": "Jos My Sec",
  "settings": [
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Josef seibel"
    },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left Image"
    },
    {
      "type": "image_picker",
      "id": "user_image",
      "label": "Person Image"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Right Image"
    },
    {
      "type": "text",
      "id": "mainheading",
      "label": "Main Heading"
    },
    {
      "type": "select",
      "id": "h_position",
      "label": "Main Heading Position",
      "default": "left",
      "options": [
        { "label": "Left", "value": "left" },
        { "label": "Center", "value": "center" },
        { "label": "Right", "value": "right" }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "bg_position",
      "label": "Heading Position",
      "default": "left",
      "options": [
        { "label": "Left", "value": "left" },
        { "label": "Center", "value": "center" },
        { "label": "Right", "value": "right" }
      ]
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "description_position",
      "label": "Description Position",
      "default": "left",
      "options": [
        { "label": "Left", "value": "left" },
        { "label": "Center", "value": "center" },
        { "label": "Right", "value": "right" }
      ]
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Text",
      "default": "More"
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "Color",
      "default": "btn--neutral",
      "options": [
        {
          "value": "btn--primary",
          "label": "Bright accent"
        },
        {
          "value": "btn--secondary",
          "label": "Secondary accent"
        },
        {
          "value": "btn--link",
          "label": "Link color"
        },
        {
          "value": "btn--neutral",
          "label": "Text color"
        },
        {
          "value": "btn--black",
          "label": "Black"
        },
        {
          "value": "btn--white",
          "label": "White"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Style",
      "default": "hero__btn btn btn--large caps",
      "options": [
        {
          "value": "standard__cta caps--large",
          "label": "Capitalized text"
        },
        {
          "value": "hero__btn btn btn--input caps",
          "label": "Small button"
        },
        {
          "value": "hero__btn btn btn--large caps",
          "label": "Large button"
        },
        {
          "value": "hero__btn btn btn--input btn--outline caps",
          "label": "Small outline button"
        },
        {
          "value": "hero__btn btn btn--large btn--outline caps",
          "label": "Large outline button"
        }
      ]
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Jos My Sec"
    }
  ]
}
{% endschema %}
